logs/
npm-debug.log
yarn-error.log
node_modules/
resource-server/node_modules/
resource-server/resource/
yarn.lock
coverage/
.idea/
.github/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
app/public/packages/*@*
config/config.local.js
licence.txt

.docker
docker/seatom-server-code
